<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>moduleCode</key>
		<string>乐工作</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string></string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>嘀一下</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>乐工作</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>消息</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>乐工作</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>工作</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>乐工作</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>讨论组</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>消息</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>newsUnReadCount</string>
		<key>type</key>
		<string>1</string>
		<key>parentCode</key>
		<string>消息</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>questionUnDoneCount</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>工作</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>workflowApproveCount</string>
		<key>type</key>
		<string>1</string>
		<key>parentCode</key>
		<string>工作</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>notifyUnReadCount</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>工作</string>
	</dict>
	<dict>
		<key>moduleCode</key>
		<string>didiUnConfirmCount</string>
		<key>type</key>
		<string>0</string>
		<key>parentCode</key>
		<string>嘀一下</string>
	</dict>
</array>
</plist>
