<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AttendanceBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>QYBaseProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QYBaseProject_AppStore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QYNEWAttendance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>QYNewAttendance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QYNewAttendance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QYNewAttendanceBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>110CA6691D61A22D009BDB48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1134F3CC1D7FED71009AC8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1134F3E91D7FFA65009AC8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118416811D4EDFAA00607EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D30AE01D192EE80028688C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D30B741D1934D80028688C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9465B90B1B1D5A370021E4D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9483C6CF1C291C4D00E0E485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949D4E7A1C8EB1AA007CA6DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949D4FF81C8EB7C9007CA6DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
