<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[ok]</key>
	<string>emoji019.png</string>
	<key>[亲亲]</key>
	<string>emoji005.png</string>
	<key>[便便]</key>
	<string>emoji020.png</string>
	<key>[偷笑]</key>
	<string>emoji003.png</string>
	<key>[傲慢]</key>
	<string>emoji036.png</string>
	<key>[再见]</key>
	<string>emoji027.png</string>
	<key>[刀]</key>
	<string>emoji018.png</string>
	<key>[可爱]</key>
	<string>emoji011.png</string>
	<key>[吐]</key>
	<string>emoji010.png</string>
	<key>[吓]</key>
	<string>emoji035.png</string>
	<key>[呲牙]</key>
	<string>emoji023.png</string>
	<key>[咒骂]</key>
	<string>emoji006.png</string>
	<key>[坏笑]</key>
	<string>emoji001.png</string>
	<key>[大哭]</key>
	<string>emoji033.png</string>
	<key>[奋斗]</key>
	<string>emoji039.png</string>
	<key>[委屈]</key>
	<string>emoji004.png</string>
	<key>[微笑]</key>
	<string>emoji022.png</string>
	<key>[心]</key>
	<string>emoji014.png</string>
	<key>[快哭了]</key>
	<string>emoji025.png</string>
	<key>[惊恐]</key>
	<string>emoji029.png</string>
	<key>[愤怒]</key>
	<string>emoji028.png</string>
	<key>[折磨]</key>
	<string>emoji031.png</string>
	<key>[拥抱]</key>
	<string>emoji015.png</string>
	<key>[撇嘴]</key>
	<string>emoji007.png</string>
	<key>[晕]</key>
	<string>emoji030.png</string>
	<key>[流汗]</key>
	<string>emoji040.png</string>
	<key>[流泪]</key>
	<string>emoji034.png</string>
	<key>[玫瑰]</key>
	<string>emoji017.png</string>
	<key>[疑问]</key>
	<string>emoji032.png</string>
	<key>[白眼]</key>
	<string>emoji038.png</string>
	<key>[睡觉]</key>
	<string>emoji008.png</string>
	<key>[示爱]</key>
	<string>emoji002.png</string>
	<key>[红唇]</key>
	<string>emoji016.png</string>
	<key>[色]</key>
	<string>emoji037.png</string>
	<key>[调皮]</key>
	<string>emoji026.png</string>
	<key>[赞]</key>
	<string>emoji013.png</string>
	<key>[鄙视]</key>
	<string>emoji041.png</string>
	<key>[酷]</key>
	<string>emoji012.png</string>
	<key>[闭嘴]</key>
	<string>emoji009.png</string>
	<key>[难过]</key>
	<string>emoji024.png</string>
</dict>
</plist>
